  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

a{
  text-decoration: none;
}

:root {
    --red-color: #ff343f;
    --light-gray-color-: #a2a2a2;
    --Dark-gray-color-: #212428;
    --trsp24-white-color-:rgba(255, 255, 255, 0.024);
    --trsp20-white-color-:rgba(255, 255, 255, 0.2);

    --red-shadow-: rgba(255,52,63,.5) 2px 2px 20px 0px ;
    --black-shadow-: rgba(0, 0, 0, 0.3) 0px 0px 8px 0px ;
    --search-items-outline-: rgba(255,52,63,.3) 0px 0px 0px 4px ;
}

@font-face {
  font-family: 'Helvetica';
  src: url(../Font/Helvetica/Helvetica.ttf);
}

body{
  font-family: 'DM Sans', 'Helvetica',  sans-serif;
  background-color: var(--Dark-gray-color-);
}

header{
  height: 100vh;
  background-image: url(../img/Background.jpg);
  background-size: cover;
  background-position: bottom;
}

.navbar-scroll{
  background-color: #212428e2;
  box-shadow: rgba(10, 10, 10, 0.8) 0px 4px 20px 0px ;
  transition: all .5s ease;
  position: fixed;
  top: 0;
  z-index: 9;
}

nav{
  transition: all .5s ease;
}

  .nav-bar{
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    z-index: 3;
}

  .nav-bar a{
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .5px;
    z-index: 1;
}

  .nav-bar .search-bar{
    margin-left: 30px;
    padding: 4px 11px;
    width: 250px;
    height: 35px;
    border: none;
    background-color: #a2a2a215;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    z-index: 1;
    transition: .5s ease;
}

.nav-bar .search-bar::placeholder{
  color: white;
}

.nav-bar .search-bar:focus{
    outline: none;
}

.nav-bar .search-bar:hover{
  box-shadow: var(--search-items-outline-);
  transition: .8s ease;
}

  .nav-bar ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
    z-index: 1;
}

  .nav-bar ul li{
    margin-right: 17px;
    padding-bottom: 5px;
    overflow: hidden;
}

.nav-bar ul li a{
  position: relative;
  padding-bottom: 5px;
  color: white;
}
.nav-bar ul li a:hover{
  color: white;
}

  .nav-bar ul i{
    scale: .8;
    margin-left: 8px;
    font-weight: 900;
    color: var(--light-gray-color-);
}

/* .nav-barBar hover animation */

.nav-bar ul li a::before{
  content:'';
  width: 100%;
  height: 2px;
  background-color: var(--red-color);
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: all .8s ease;
}

.nav-bar ul li a:hover::before{
  left: 0;
}

  .nav-bar .btn-connectWallet{
    background-color: var(--red-color);
    color: white;
    width: 145px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    border-radius: 30px;
    transition: .5s ease;
    letter-spacing: normal;
}

  .nav-bar .btn-connectWallet:hover{
    box-shadow: var(--red-shadow-) ;
    transition: .5s ease;
}

/* Start Main-section */

.main-section{
  display: flex;
  padding: 0;
  position: absolute;
  top: 85px;
  transform: translateX(-50%);
  left: 50%;
}

.left-section{
  width: 50%;
  color: white;
  padding: 12px;
  line-height: 30.5px;
}

.giga-Market{
  color: var(--red-color);
  text-transform: uppercase ;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: normal;
  animation: slideUp-giga 1s ease;
}

.left-section h1{
  font-size: 50px;
  letter-spacing: -1px;
  font-weight: 600;
  margin-top: 15px;
  animation: slideUp-Title 1s ease;
}

@keyframes slideUp-giga {
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp-Title {
  0%{
    opacity: 0;
    transform: translateY(60px);
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp-Para {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp-explore {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.artworks{
  color: var(--red-color);
}

.left-section p{
  font-size: 18px;
  color: var(--light-gray-color-);
  margin-top: 20px;
  animation: slideUp-Para 1s ease;
}

.left-section a{
  background-color: var(--red-color);
  color: white;
  font-size: 14px;
  height: 35px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-weight: 500;
  margin-top: 30px;
  transition: .5s ease;
  animation: slideUp-explore 1s ease;
}

.left-section a:hover{
  box-shadow: var(--red-shadow-);
  transition: .5s ease;
  }

.spacer-h160{
  height: 160px;
  display: block;
}

/* End Left-section */

/* Start Right-section */

@keyframes slideUp-Slider {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.right-section{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  animation: slideUp-Slider 1s;
}

.right-section .owl-carousel-1{
  width: 590px;
  height: 590px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.scalEffect{
  width: 590px;
  height: 590px;
  position: relative;
  overflow: hidden;
} 

.scalEffect img{
  width: 100%;
  transition: all .8s ease-out;
}

.right-section:hover img{
  transform: scale(1.2);
  transition: all 2s ease;
}


.titles{
  height: 100%;
  width: 100%;
  padding: 40px;
  z-index: 2;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.titles h3{
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.titles p{
  color: rgba(255, 255, 255, 0.61);
  font-size: 16px;
  font-weight: 500;
}

.right-section .carousel-buttons{
  height: 100%;
  position: absolute;
  z-index: 3;
  width: 590px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  opacity: 0;
}

.right-section .carousel-buttons:hover{
  opacity: 100%;
  transition: .8s ease;
}
 
.right-section .previous,.next{
  background-color: white;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.right-section .previous{
  border-radius: 50%;
  margin-left: -35px;
}

.right-section .previous i{
  width: 50%;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.right-section .next{
  border-radius: 50%;
  margin-right: -35px;
}

.right-section .next i{
  width: 50%;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

/* END Right-section */

/* END Main-section */

/* START New-items */

.new-items-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.new-items-container h2{
  color: white;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -1px;
  font-weight: 600;
}

.new-items{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.main-card{
  width: 305px;
  height: 420px;
  background-color: var(--trsp24-white-color-);
  border-radius: 15px;
  box-shadow: var(--black-shadow-);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.header-card-section{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 266px;
  top: 20px;
  z-index: 2;
}

.header-card-section .profile{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  background-color: var(--red-color);
  box-shadow:  rgba(0, 0, 0, 0.4) 3px 3px 5px 0px;
}

.header-card-section .profile img{
  width: 100%;
  border-radius: 50%;
  transition: all .2s ease;
}

.header-card-section .profile:hover img{
  transform: scale(.85);
  transition: all .2s ease;
}

.header-card-section .profile i{
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--red-color);
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.header-card-section .timer{
  width: 150px;
  height: 30px;
  background-color: var(--Dark-gray-color-);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  box-shadow: var(--black-shadow-);
  border: solid 2px var(--red-color);
}

.header-card-section .timer .countdown{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.NFT-Art{
  width: 265px;
  height: 265px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px 0px ;
  position: absolute;
  top: 40px;
  transition: all 1s ease;
}

.main-card:hover .NFT-Art{
  transform: scale(1.05);
  transition: all 1s ease;
}

.NFT-Art img{
  width: 100%;
  border-radius: 7px;
}

.Art-infos{
  width: 265px;
  height: 75px;
  position: absolute;
  bottom: 20px;
  color: white;
  font-weight: 500;
}

.Art-Name{
  display: flex;
  justify-content: space-between;
  height: 18px;
}

.Art-Name p{
  margin: 0;
  font-size: 15px;
  line-height: 18px;
}

.Art-Name i{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  transition: all .5s ease;
  position: absolute;
  right: 0;
  transform: translate(20%,-30%);
}

.Art-Name i:hover{
  background-color: var(--trsp20-white-color-);
  transition: all .5s ease;
}

.Art-Price{
  margin-top: 5px;
}

.Art-Price span:first-child{
  font-size: 14px;
  color: var(--light-gray-color-);
}

.Art-Price span:last-child{
  color: white;
  font-size: 14px;
  margin-left: 10px;
}

.place-a-bid{
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.place-a-bid a{
  color: var(--red-color);
  font-size: 14px;
}

.place-a-bid .impression i{
  font-size: 14px;
  color: var(--trsp20-white-color-);
  transition: all .5s ease;
}

.place-a-bid .impression i:hover{
  color: var(--red-color);
  transition: all .5s ease;
}

.place-a-bid .impression .likes{
  font-size: 12px;
}

/* END New-items */

/* START Hot-Collections */

.hot-collections-container{
  height: 340px;
  padding: 0;
  position: relative;
  margin-bottom: 25px;
}

.hot-collections-container h2{
  color: white;
  margin-bottom: 20px;
}

.hot-collections{
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.hot-collections .owl-stage-outer{
  padding: 5px 0;
}

.collection-Card{
  width: 240px;
  height: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: var(--black-shadow-);
  border-radius: 10px;
}

.collection-Card .banner{
  width: 220px;
  height: 125px;
  position: absolute;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px 0px;
  top: 10px;
  overflow: hidden;
}

.collection-Card .banner img{
  width: 100%;
  border-radius: 7px;
  transition: all .8s ease;
}

.collection-Card:hover .banner img{
  transform: scale(1.05);
  transition: all .8s ease;
}

.collection-Card .collection-profile{
  width: 60px;
  height: 60px;
  position: relative;
  top: 105px;
  border-radius: 50%;
  transition: all .8s ease;
}

.collection-Card .collection-profile img{
  width: 100%;
  border-radius: 50%;
}

.collection-Card:hover .collection-profile{
  transform: scale(1.05);
  transition: all .8s ease;
}

.collection-Card .collection-profile i{
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: var(--red-color);
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.collection-Card h4{
  position: absolute;
  bottom: 47px;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.collection-Card p{
  position: absolute;
  bottom: 24px;
  margin: 0;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  color: var(--light-gray-color-);
}

.hot-collections-container .previous{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--Dark-gray-color-);
  box-shadow: var(--black-shadow-);
  position: absolute;
  transform: translate(-50%,-50%);
  left: 0;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hot-collections-container .next{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--Dark-gray-color-);
  box-shadow: var(--black-shadow-);
  position: absolute;
  transform: translate(50%,-50%);
  right: 0;
  top: 50%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hot-collections-container i{
  color: white;
}

.owl-dots{
  display: none;
}

.owl-item{
  margin: 0;
}

/* END Hot-Collections */

/* START Top-Sellers */

.top-sellers{
  color: white;
  margin-bottom: 40px;
}

.top-sellers h3{
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -1px;
}

.top-sellers-sub-container{
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}


.top-sellers .Author-Section{
  display: flex;
  margin-bottom: 25px;
}

.top-sellers .seller-classement{
  color: var(--light-gray-color-);
}

.top-sellers .avatar .fa-circle-check{
  color: var(--red-color);
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.top-sellers .avatar{
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  margin-left: 10px;
  transition: .3s ease;
}

.top-sellers .avatar:hover{
  outline: solid 5px red;
  outline-offset: -5px;
  transition: .3s ease;
}

.top-sellers .avatar img{
  width: 100%;
  border-radius: 50%;
  transition: .5s ease;
}

.top-sellers .avatar:hover img{
  transform: scale(.85);
  transition: .3s ease;
}

.top-sellers .avatar .fa-circle-check{
  position: absolute;
  right: 0;
  bottom: 0;
}

.top-sellers .seller-details{
  margin-left: 10px;
}

.top-sellers .seller-details .seller-name{
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: white;
}

.top-sellers .seller-details .ETH-amount{
  color: var(--light-gray-color-);
  font-size: 14px;
  line-height: 16.5px;
}

.top-sellers p{
  margin: 0;
}

/* END Top-Sellers */


/* CREAT AND SELL NOW START */

.creat-and-sell-container{
  padding-bottom: 90px;
}

.creat-and-sell-container h2{
  color: white;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.creat-and-sell{
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.creat-and-sell .features-box{
  width: 415px;
  height: 310px;
  background-color: var(--trsp24-white-color-);
  border-radius: 6px;
  box-shadow: var(--black-shadow-);
  color: white;
  position: relative;
  overflow: hidden;
}

.creat-and-sell .features-box:hover .animated-back-icon img{
  transform: rotate(-20deg);
  transition: all 1.5s ease;
}

.creat-and-sell .feature-icon{
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-color);
  border-radius: 5px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.creat-and-sell .feature-icon img{
  width: 55%;
}

.features-box h3{
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  position: absolute;
  top: 130px;
  left: 50px;
  z-index: 2;
}

.features-box p{
  font-size: 16px;
  line-height: 26px;
  width: 315px;
  color: var(--light-gray-color-);
  margin: 0;
  position: absolute;
  bottom: 65px;
  left: 50px;
}

.features-box .animated-back-icon{
  width: 415px;
  height: 310px;
  z-index: 1;
}

.features-box .animated-back-icon img{
  width: 60%;
  position: absolute;
  right: -25px;
  bottom: -35px;
  opacity: .1;
  transition: all .7s ease;
}

/* CREAT AND SELL NOW END */


/* START Footer */

/* Footer Top-Section */

footer{
  height: 480px;
  background-color: rgba(255, 255, 255, 0.024);
  color: var(--light-gray-color-);
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.footer-menu{
  padding: 80px 0 75px;
}

footer h4{
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
}

footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li{
  line-height: 26px;
}

footer ul li:not(li:last-child){
  margin-bottom: 10px;
}

footer ul li a{
  color: var(--light-gray-color-);
}

footer ul li:hover a{
  color: var(--red-color);
  transition: .3s ease;
}

.Newsletter p:first-child{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
}

.Newsletter p:last-child{
  margin-bottom: 0;
  font-size: 14px;
  line-height: 26px;
}

.Newsletter form{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

footer form .email-subscription{
  width: 245px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  color: white;
  padding-left: 15px;
  border-radius: 20px 0 0 20px;
}

footer form .email-subscription::placeholder{
  color: white;
}

footer form .email-subscription:focus{
  outline: none;
}

footer form a {
  width: 60px;
  height: 40px;
  background-color: var(--red-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
}

footer form a:hover{
  color: white;
}

/* Footer Bottom-Section */

.line-up{
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.sub-footer{
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-footer .copyright{
  line-height: 26px;
  margin: 0;
}

.sub-footer .social-media{
  width: 220px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-footer .social-media a{
  display: inline-block;
  text-align: center;
  line-height: 35px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: var(--Dark-gray-color-);
  border-radius: 5px;
  transition: .5s ease;
}

.sub-footer .social-media a:hover{
  color: var(--Dark-gray-color-);
  background-color: white;
  transition: .5s ease;
}

/* Go to the top button */

.go-top{
  width: 30px;
  height: 30px;
  background-color: var(--red-color);
  color: white;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .5s ease;
}

.go-top:hover{
  cursor: pointer;
  transform: scale(1.07);
  color: var(--Dark-gray-color-);
  transition: transform .5s ease;
}




